.product {
  display: grid;
  grid-template-columns:
   [start] 70px 
   [logoend] 30px

   [titlestart] calc(50% - 100px)
   [middle] 1fr 

   [pricestart] auto 
   [priceend] 40px 

   [creditstart] auto 
   [creditend] 40px 
   
   [ratestart] auto 
   [end];
   margin: 0 0 30px 0;
   padding: 30px;
}

.logo {
  grid-column: start / logoend;
  grid-row: 1 / span 2;
}

.title, .tags, .action {
  grid-column: titlestart / middle;
}

.price, .priceTitle {
  grid-column: pricestart / priceend;
}

.credit, .creditTitle {
  grid-column: creditstart / creditend;
}

.rating, .rateTitle {
  grid-column: ratestart / end;
}

.hr,
.description,
.actions {
	grid-column: start / end;
}

.advBlock {
  grid-column: middle / end;
}

.feature {
  grid-column: start / middle;
}

.logo img {
  border-radius:5px;
} 

.month { 
  font-size: 14px;
  line-height: 19px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  align-self: flex-end;
}

.price, .credit {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  align-self: flex-end;
}

.oldPrice {
  margin: 0 0 0 10px;
}