html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--grey-light: #EBEBEB;
	--grey-dark: #787D85;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #6344DF;
	--red: #FC836D;
	--red-light: #fea291;
	--green: #1DC47E;
	--green-light: #1DC37E;
	--font-family: "Noto Sans Display", sans-serif;

	--mobileMenuZ: 10;
	--menuCloseZ: 11;
}
